[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "bundle/vim-tmux-navigator"]
	path = bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/vim-monokai"]
	path = bundle/vim-monokai
	url = https://github.com/sickill/vim-monokai
[submodule "bundle/vim-colorstepper"]
	path = bundle/vim-colorstepper
	url = https://github.com/qualiabyte/vim-colorstepper
[submodule "support/markdown2ctags"]
	path = support/markdown2ctags
	url = https://github.com/jszakmeister/markdown2ctags
[submodule "support/rst2ctags"]
	path = support/rst2ctags
	url = https://github.com/jszakmeister/rst2ctags
[submodule "bundle/vim-grepper"]
	path = bundle/vim-grepper
	url = https://github.com/mhinz/vim-grepper
[submodule "bundle/QFEnter"]
	path = bundle/QFEnter
	url = https://github.com/yssl/QFEnter
[submodule "bundle/macvim-light"]
	path = bundle/macvim-light
	url = https://github.com/aunsira/macvim-light
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale
[submodule "bundle/vim-windowswap"]
	path = bundle/vim-windowswap
	url = https://github.com/wesQ3/vim-windowswap
[submodule "bundle/robotframework-vim"]
	path = bundle/robotframework-vim
	url = https://github.com/mfukar/robotframework-vim
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/ealang/molokai
[submodule "bundle/vim-fontsize"]
	path = bundle/vim-fontsize
	url = https://github.com/drmikehenry/vim-fontsize
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "bundle/vim-code-dark"]
	path = bundle/vim-code-dark
	url = git@github.com:ealang2/vim-code-dark.git
